#file-tree{
    min-height:100%;
}

#button-group{
    grid-row:3;
}
.dir-display{
    padding-inline-start:40px;
}

ul {
    list-style-type:none !important;
}

a {
    color:black;
    text-decoration:none;
}

li {
    color:gray;
}
.selectable-file{
    color:darkblue;
}

.selectable-file:hover {
    background-color:darkgray;
    color:white;
}

.file-buttons {
    padding: 10px;
}